*{
  box-sizing: border-box;
}

header {
  width: 1140px;
  height: 67px;
  margin: auto;
  background-color: #5c86e0;
  display: flex;
  flex-direction: column;
}

header > section:nth-of-type(1){
  width: 129px;
  height: 44px;
}


header > section:nth-of-type(3){
  width: 121px;
  height: 35px;
}

header > section:nth-of-type(4){
  width: 151px;
  height: 46px;
}

#homeLogo{
  width: 129;
}