<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>board-list</title>

  <link rel="stylesheet" href="/css/board(self).css">
</head>

<body>
  <header>
    <!--좌측 로고-->
    <section>
      <a href="#">
        <img src="/image/로고 수정3.png" id="homeLogo">
      </a>
    </section>


    <!--우측-->
    <section>
      <!--게시판, 채팅 버튼-->
      <section>
        <a>게시판</a>
      </section>

      <!--로그인-->
      <section>
        <a>채팅</a>
        <a>로그인</a>
      </section>
    </section>

  </header>

  <!-- navigator -->
  <nav>
    <ul>
      <li><a href="#">자유 게시판이름</a></li>
      <li><a href="#">질문 게시판</a></li>
      <li><a href="#">급식표 게시판</a></li>
      <li><a href="#">일시정보 게시판</a></li>
      <li><a href="#">문제풀이 게시판</a></li>
      <li><a href="#">공지사항</a></li>
    </ul>
  </nav>


  <!-- main-upper -->
  <section>
    <ul>
      <li><a href="#">자유 게시판이름</a></li>
      <li><a href="#">질문 게시판</a></li>
      <li><a href="#">급식표 게시판</a></li>
      <li><a href="#">일시정보 게시판</a></li>
      <li><a href="#">문제풀이 게시판</a></li>
      <li><a href="#">공지사항</a></li>
    </ul>
  </section>

  <!--main-mid-->
  <section>
    <table>
      <thead>
        <tr>
          <th>NO</th>
          <th>작성자</th>
          <th>제목</th>
          <th>댓글수</th>
          <th>추천</th>
          <th>조회수</th>
          <th>작성일자</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>게시글 번호</td>
          <td>닉네임</td>
          <td>게시글 제목</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>2025-12-22</td>
        </tr>
      </tbody>
      <!--게시판 리스트 반복문으로 -->

    </table>
  </section>

  <!-- main-lower-->
  <section>
    <!-- 페이지 네이션-->
    <section>
      <a></a>
    </section>

    <!-- 검색창 -->
    <form>
      <select>
        <option>제목</option>
        <option>내용</option>
        <option>제목+내용</option>
        <option>작성자</option>
      </select>

      <input id="searchBar">

      <button></button>


    </form>
  </section>

  <!-- *footer* -->
  <footer>

  </footer>


</body>

</html>